/* TodoForm.module.css */

.formContainer {
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputField:focus {
    outline: none;
    border-color: black;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: gray;
}